parameters:
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - .
    scanFiles:
        - modules/registrars/jeyserver/jeyserver.php
    scanDirectories:
        - modules
        - tests
        - resources
    excludePaths:
        analyse:
            - build
            - node_modules
            - modules/registrars/jeyserver/vendor
            - tests
            - */whmcs-foundation
            - */whmcs-base
    bootstrapFiles:
        - tests/_bootstrap.phpstan.php
        - modules/registrars/jeyserver/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Class WHMCS\\Exception was not found while trying to analyse it - discovering symbols is probably not configured properly.#'
            paths:
                - modules/registrars/jeyserver/jeyserver.php
        -
            message: '#Constant ROOTDIR not found.#'
            path: resources/domains/additionalfields.php
        - '#Constant ROOTDIR not found#'
